<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/getSize.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>用户页面</title>
</head>

<body data-gr-c-s-loaded="true">
    <img src="https://gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/n/nvn/static/news/imgs/webapp-news-logo2_f77cdba.png" style="position: absolute; left: -500px; top: -500px; z-index: -100; opacity: 0.1;">
    <div id="root">
        <div data-reactroot="" class="app" id="app">
            <div>
                <div>
                    <div class="go-top-trigger" style="display: none;"></div>
                </div><span><div id="profile_view"><div class="profile-title"><div class="profile-header"><div class="back-container"><span></span></div>
        </div>
        <div class="profile-info">
            <div class="profile-img-container">
                <div class="img-wrapper"><img src="https://gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/n/nvn/static/news/imgs/person_dcc8a01.png"></div>
            </div>
            <div>
                <div class="prifile-btn"><span>立即登录</span></div>
            </div>
        </div>
    </div>
    <div class="profile-nav">
        <div class="profile-nav-item msg"><i class="icon"></i><span>我的消息</span></div>
        <div class="profile-nav-item favor"><i class="icon"></i><span>我的收藏</span></div>
        <div class="profile-nav-item logout" style="display: none;">
            <div><i class="icon"></i><span>退出登录</span></div>
        </div>
        <div class="profile-nav-item img-model"><i class="icon"></i><span>无图模式</span><i class="un-selected"></i></div>
        <div style="display: none;"></div>
    </div>
    </div>
    </span>
    </div>
    </div>
    </div>
</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/js/userHome.js"></script>
</html>