body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #f8f3f7;
    font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

fieldset,
img {
    border: 0;
}